.menu {
  position: fixed;
  top: 3rem;
  left: 0.5rem;
  background-color: var(--c-bg);
  border-radius: 10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
  width: 290px;
  padding-bottom: 1rem;
  &-header {
    padding: 1.1rem;
    border-bottom: 1px var(--c-bg-lvl1) solid;
  }
  &-heading {
    font-size: var(--fs-small);
    color: var(--c-txt-dim2);
    font-weight: 400;
  }

  &-toggle {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: var(--c-bg-lvl2);
    padding: 3px;
    border-radius: 6px;
    display: flex;
    flex-flow: row nowrap;
    margin: 0.5rem 0;
    &-button {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 0.2rem;
      font-size: var(--fs-small);
      color: var(--c-txt-dim1);
      &-icon {
        width: var(--fs-small);
        stroke: var(--c-txt-dim1);
      }
      &.active {
        background-color: var(--c-bg);
        color: var(--c-txt);
      }
      &.active &-icon {
        stroke: var(--c-txt);
      }
    }
  }
  &-list {
    padding: 0.5rem;
  }
  &-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.7rem;
    width: 100%;

    &-icon {
      margin-right: 1rem;
      stroke: var(--c-txt);
      width: 1.1rem;
    }
    &-title {
      font-size: var(--fs-regular);
      color: var(--c-txt);
    }
  }
}
