.titlebar {
  &-title {
    font-size: var(--fs-small);
    color: var(--c-txt);
    font-weight: 400;
    margin-left: 1rem;
  }
  &-controls {
    display: flex;
    height: 32px;

    &-button {
      border-radius: 0;
      -webkit-app-region: no-drag;
      width: 46px;
      &:hover {
        background-color: var(--c-bg-lvl1);
      }
      &_close {
        &:hover {
          background-color: rgb(201, 84, 84);
        }
      }
    }
  }
}
