.audio {
  background: var(--c-bg-lvl1);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1rem;
  &-icon {
    stroke: var(--c-txt);
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    flex-grow: 0;
    & > svg {
      display: block;
    }
  }
  &-title {
    font-size: var(--fs-small);
    color: var(--c-txt);
    white-space: pre-wrap;
    word-break: break-all;
  }
}
