.files {
  column-width: 200px;
  &:empty {
    background-image: url(../../../statics/explorer_bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    margin: auto;
  }
}
