.file-wraper {
  display: inline-block;
  padding-bottom: 1rem;
  width: 100%;
}

.file {
  color: var(--c-txt);
  border-radius: 4px;
  background-color: var(--c-bg-lvl1);

  &-title {
    font-weight: 400;
    padding-bottom: 1rem;
    color: var(--c-txt-dim2);
    font-size: var(--fs-small);
  }
  &.text {
    white-space: break-spaces;
    word-break: break-word;
    font-size: var(--fs-small);
    border-radius: 4px;
    padding: 1rem;
    width: 100%;
    max-height: 400px;
    overflow: auto;
    user-select: text;
  }

  & > .svg {
    padding: 1rem;
  }
}
