#l-app {
  background-color: var(--c-bg);
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100vw;
}

#l-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--c-bg-lvl1);
  flex-basis: 220px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100vh;
  overflow-x: auto;
}

#l-titlebar {
  -webkit-app-region: drag;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

#l-main {
  flex-grow: 2;
  height: 100vh;
  overflow-x: auto;
  //
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

#l-content {
  padding: 2rem;
  overflow: auto;
}
